<h1> Your merchants</h1>

<a href="/merchants/new_merchant"> Add a new merchant to your list</a>
<br></br>
<a href= "/merchants/all_merchants"> See all your merchants</a>
<br></br>
<a href= "/merchants/spent_by_merchant"> See how much you spent by merchant</a>
<br></br>
