<h1> Change your merchant name below:</h1>

<br></br>

<form method="post" action="/merchants/<%= @merchant.id %>/merchant_edit_report">
  <label for="name"> Change merchant name to : </label>
  <input id="name" type="text" name="name" value="<%= @merchant.name%>"/>


<br></br>
        <input type="submit" value="Change merchant name"/>

</form>
