<h1> Check your spendings </h1>

<br></br>

<form method="get" action="/merchants/merchant_total">

    <label> Select a merchant </label>
    <select name ="merchant_id" >
      <% for merchant in @merchants %>
      <option value=" <%= merchant.id %>"> <%= merchant.name%> </option>
        <% end %>
    </select>


    <input  class="bttn_positive" type="submit" value="Check your spendings"/>

    </form>
