<h1> Welcome to Moneydashboard!<h1>

<br></br>

<section id="display">
   <p id = "display_para"> Your total spent so far is : £<%= @amount_spent %>
   <p id = "display_para"> You have available : £<%= @amount_left %>
   <!-- <p id = "display_para"> Your monthly budget is : £<%= @budget %> -->
</section>
