<h1> Your purchase types</h1>
<ul class="control-list">

  <li><a href="/tags/new_tag"> Add a new type of purchase to your list</a></li>

  <li><a href= "/tags/all_tags"> See all your type of purchases</a></li>

  <li><a href= "/tags/spent_by_tag"> See how much you spent for type of purchases</a></li>
</ul>
