<h1> Your purchase types</h1>

<a href="/tags/new_tag"> Add a new type of purchase to your list</a>
<br></br>
<a href= "/tags/all_tags"> See all your type of purchases</a>
<br></br>
<a href= "/tags/spent_by_tag"> See how much you spent for type of purchases</a>
<br></br>
