<h1> Create your new type of purchase below:</h1>

<br></br>

<form method="post" action="new_tag_report">
  <label for="type_of_purchase">Purchase type </label>
  <input id="type_of_purchase" type="text" name="type_of_purchase"/>

<br></br>


        <input class="bttn_positive" type="submit" value="Create your purchase type"/>

</form>
