<h1> Your transactions</h1>

<ul class="control-list">
  <li><a href="/transactions/new"> Add a new transaction </a></li>
  <li><a href= "/transactions/all_transactions"> See all your transactions </a></li>
  <li><a href= "/transactions/spendings_by_month"> See how much you've spent by month </a></li>
</ul>
