<h1> Your transactions</h1>

<a href="/transactions/new"> Add a new transaction</a>
<br></br>
<a href= "/transactions/all_transactions"> See all your transactions</a>
<br></br>
<a href= "/transactions/specific_transaction"> See a specific transaction</a>
<br></br>
