<h1> Choose the month and year of your transactions:</h1>

<form method="post" action="month_expenses_report">
  <label for="month">Month of transaction </label>
  <input id="month" type="text" name="month"/>

  <label for="year">Year of transaction </label>
  <input id="year" type="number" name="year"/>
  <input class="bttn_positive" type="submit" value="Search  for your transactions"/>
</form>
